* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9b9274;
    background-image: url('../img/bg-stripes.png');
    background-repeat: repeat;
}

#main-container {
    height: auto;
    min-height: 100vh;
    width: 1024px;
    background: linear-gradient(#d1d4c1, #c2c4b3);
    margin: auto;
    position: relative;
}

#container-shadow {
    height: 100%;
    width: 100%;
    background-image: url('../img/container-shadow-1024.png');
    background-repeat: repeat-y;
    background-position: center;
    position: fixed;
}

#header {
    height: 400px;
    width: 100%;
    background-color: #fff;
    background-image: url('../img/header-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#nav-bar {
    height: 65px;
    width: 100%;
    background: linear-gradient(#ffe570, #ffc662);
    border-bottom: 5px solid #a86e3e;
    position: relative;
}

#nav-menu {
    height: 100%;
    display: flex;
    list-style: none;
    font-family: "Ranchers-Regular";
    font-size: 28px;
    padding-left: 25px;
}

#home-btn,
#about-btn,
#gallery-btn,
#contact-btn {
    width: 150px;
    border-right: 3px #eaa63a solid;
}

#home-btn {
    border-left: 3px #eaa63a solid;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 33px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    padding-right: 1px;
}

#nav-menu a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c426e;
    text-decoration: none;
    padding-right: 5px;
}

#nav-menu a:hover,
#nav-menu a.current {
    color: #c73c40;
    background: linear-gradient(#9aeaf0, #7eccf0);
}

#nav-menu a.current {
    pointer-events: none;
}

#social-links {
    display: flex;
    position: absolute;
    right: 25px;
    top: 10px;
}

#deviantart {
    height: 40px;
    width: 40px;
    background-image: url('../img/deviantart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #475c4d;
    border-radius: 50%;
    margin-right: 5px;
}

#deviantart:hover {
    background-color: #06070d;
}

#twitter {
    height: 40px;
    width: 40px;
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1cb7eb;
    border-radius: 50%;
    margin-left: 5px;
}

#twitter-hover {
    height: 0;
    width: 0;
    background-image: url('../img/twitter-hover.svg');
    opacity: 0;
}

#twitter:hover {
    background-image: url('../img/twitter-hover.svg');
    background-color: #1f364d;
}

#page-content {
    height: auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 105px;
}

#content-container {
    height: 80%;
    width: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdf3e3;
    background-image: url('../img/content-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    border: 2px dashed #42434b;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: auto;
}

.title {
    font-family: "Peralta-Regular";
    color:#aa3b6d;
    font-size: 30px;
    transform: scale(1, 1.2);
    margin-bottom: 15px;
}

#fool-img {
    width: 700px;
}

#about-text {
    width: 80%;
    font-family: "Peralta-Regular";
    font-size: 22px;
    color: #1a945d;
    transform: scale(1, 1.2);
    text-align: justify;
    margin-top: 8%;
    margin-bottom: 10%;
}

#about-header {
    color: #34509e;
    text-align: center;
    margin-bottom: 2.5%;
}

#gallery {
    height: auto;
    width: 780px;
}

.thumbnail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thumbnail {
    height: 230px;
    width: 180px;
    background-color: white;
    border: 3px solid #bcb4a1;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail:hover {
    cursor: pointer;
    border: 3px solid #aa3b6d;
}

.hover-overlay {
    height: 100%;
    width: 100%;
}

.hover-overlay:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.empty-thumb:hover {
    border: 3px solid #08c561;
    background-image: url('../img/gallery/thumb/empty-thumb-hover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#responsive-break {
    display: none;
}

#row-break {
    height: 20px;
    width: 100%;
}

#gallery-page {
    height: 70px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#responsive-page {
    display: none;
}

#arrow-prev,
#res-arrow-prev {
    background-image: url('../img/arrow-prev.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#arrow-prev:hover,
#res-arrow-prev:hover {
    background-image: url('../img/arrow-prev-hover.png');
}

#arrow-next,
#res-arrow-next {
    background-image: url('../img/arrow-next.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#arrow-next:hover,
#res-arrow-next:hover {
    background-image: url('../img/arrow-next-hover.png');
}

.arrow-btn {
    height: 23px;
    width: 40px;
}

.page-btn {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Peralta-Regular";
    color:#aa3b6d;
    font-size: 27px;
    transform: scale(1, 1.2);
    cursor: pointer;
}

.current-page,
.page-btn:hover {
    color: #34509e;
    background-image: url('../img/page-select.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#gallery-modal {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#modal-container {
    height: 95%;
    max-height: 825px;
    width: 90%;
    position: relative;
}

#modal-header {
    display: none;
}

#modal-img {
    height: 88%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#modal-nav {
    height: 10%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d1d4c1;
    border-radius: 7px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#modal-prev {
    height: 100%;
    width: 48px;
    background-image: url('../img/arrow-prev.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 30px;
}

#modal-prev:hover {
    background-image: url('../img/arrow-prev-hover.png');
    cursor: pointer;
}

#modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.5vh 1.5vh;
    border-radius: 5px;
}

#img-title {
    font-family: "Peralta-Regular";
    color:#aa3b6d;
    font-size: 30px;
    transform: scale(1, 1.2);
    user-select: none;
}

#modal-next {
    height: 100%;
    width: 48px;
    background-image: url('../img/arrow-next.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 30px;
}

#modal-next:hover {
    background-image: url('../img/arrow-next-hover.png');
    cursor: pointer;
}

#modal-close {
    height: 55px;
    width: 55px;
    background-image: url('../img/close-modal.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
    top: 25px;
    right: 30px;
}

#modal-close:hover {
    background-image: url('../img/close-modal-hover.png');
    cursor: pointer;
}

#contact-text {
    width: 75%;
    font-family: "Peralta-Regular";
    font-size: 22px;
    color: #1a945d;
    transform: scale(1, 1.2);
    text-align: center;
    margin-top: 1.5%;
}

#email {
    color: #bf4349;
}

#contact-form {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    font-family: "Peralta-Regular";
    font-size: 22px;
    color: #34509e;
    transform: scale(1, 1.2);
    margin-bottom: 5px;
}

#contact-form input {
    height: 40px;
    width: 100%;
    border: 2px solid #bcb4a1;
    padding: 10px;
    outline: none;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border: 2px solid #aa3b6d;
}

#contact-form input:focus::placeholder, 
#contact-form textarea:focus::placeholder {
    color: transparent;
}

.msg-send {
    grid-column: 1/3;
}

#contact-form textarea {
    height: 250px;
    width: 100%;
    border: 2px solid #bcb4a1;
    resize: none;
    padding: 10px;
    outline: none;
}

#contact-send {
    margin: auto;
}

#send-btn {
    height: 55px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ranchers-Regular";
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #3c426e;
    background: linear-gradient(#ffe570, #ffc662);
    border: 3px solid #eaa63a;
    border-radius: 10px;
    padding-left: 5px;
    padding-bottom: 2px;
    cursor: pointer;
    outline: none;
}

#double-arrow {
    padding-top: 3px;
}

#send-btn:hover {
    color: #c73c40;
    background: linear-gradient(#9aeaf0, #7eccf0);
    border: 3px solid #08c561;
}

#footer {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2f323d, #202229);
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0.3px;
    position: absolute;
    bottom: 0;
}

#copyright {
    padding-right: 2px;
}

#kartoon-fool {
    font-family: "BreeSerif-Regular";
    font-size: 19px;
    letter-spacing: 0.5px;
    transform: scale(1, 0.95);
    margin-right: 5px;
    padding-bottom: 5px;
}

#web-dev {
    font-family: "MuseoModerno-Medium";
    font-size: 17px;
}

#kaloyan-kirilov {
    color: inherit;
    text-decoration: underline;
}

#kaloyan-kirilov:hover {
    color: rgb(250, 229, 136);
    text-decoration: underline rgb(196, 69, 54);
}


/* ------ MEDIA QUERIES ------ */
@media screen and (max-width: 1440px) and (orientation: landscape) {
    #main-container {
        width: 824px;
    }

    #container-shadow {
        background-image: url('../img/container-shadow-824.png');
    }

    #header {
        height: 320px;
    }

    #nav-bar {
        height: 52px;
        border-bottom: 3px solid #a86e3e;
    }

    #nav-menu {
        font-size: 22px;
        padding-left: 20px;
    }

    #home-btn,
    #about-btn,
    #gallery-btn,
    #contact-btn {
        width: 121px;
    }

    .material-icons {
        font-size: 27px;
    }

    #social-links {
        right: 20px;
        top: 8px;
    }

    #deviantart {
        height: 33px;
        width: 33px;
        margin-right: 4px;
    }

    #twitter {
        height: 33px;
        width: 33px;
        margin-left: 4px;
    }

    #page-content {
        padding-top: 25px;
        padding-bottom: 85px;
    }

    #content-container {
        width: 700px;
        border-radius: 20px;
        padding-top: 25px;
        padding-bottom: 33px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    #fool-img {
        width: 565px;
    }

    #about-text {
        font-size: 18px;
    }

    #gallery {
        width: 628px;
    }

    .thumbnail {
        height: 185px;
        width: 145px;
        border: 2px solid #bcb4a1;
        border-radius: 5px;
    }

    .thumbnail:hover {
        border: 2px solid #aa3b6d;
    }

    .empty-thumb:hover {
        border: 2px solid #08c561;
        background-image: url('../img/gallery/thumb/empty-thumb-hover.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #row-break {
        height: 16px;
    }

    #gallery-page {
        height: 55px;
        width: 360px;
    }

    .arrow-btn {
        height: 19px;
        width: 32px;
    }

    .page-btn {
        height: 37px;
        width: 37px;
        font-size: 21px;
    }

    #footer {
        height: 60px;
        letter-spacing: 0.2px;
    }

    #copyright {
        padding-right: 2px;
    }

    #kartoon-fool {
        font-family: "BreeSerif-Regular";
        font-size: 16px;
        margin-right: 3px;
        padding-bottom: 4px;
    }

    #web-dev {
        font-family: "MuseoModerno-Medium";
        font-size: 14px;
    }

    #modal-nav {
        width: 450px;
    }

    #img-title {
        font-size: 25px;
    }

    #modal-prev {
        width: 43px;
        margin-left: 23px;
    }

    #modal-next {
        width: 43px;
        margin-right: 23px;
    }

    #modal-close {
        height: 50px;
        width: 50px;
        top: 20px;
        right: 25px;
    }

    #contact-text {
        font-size: 18px;
    }

    #contact-form {
        gap: 10px;
        margin-top: 22px;
        margin-bottom: 15px;
    }

    #contact-form label {
        font-size: 18px;
        margin-bottom: 3px;
    }

    #contact-form input {
        height: 34px;
        padding: 8px;
    }

    #contact-form textarea {
        height: 200px;
        padding: 8px;
    }

    #send-btn {
        height: 44px;
        width: 113px;
        font-size: 22px;
        border: 2px solid #eaa63a;
        border-radius: 8px;
    }

    #send-btn:hover {
        border: 2px solid #08c561;
    }
}

@media screen and (max-width: 1300px) {
    #modal-close {
        top: unset;
        position: absolute;
        right: -85px;
    }
}

@media screen and (min-height: 1200px) {
    #modal-prev,
    #modal-next {
        width: 65px;
    }
}

@media screen and (min-height: 1200px) and (max-width: 1024px) {
    #modal-nav {
        width: 560px;
    }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
    #main-container {
        border-left: 0;
        border-right: 0;
    }

    #modal-container {
        max-height: 85%;
    }

    #modal-nav {
        width: 650px;
    }

    #img-title {
        font-size: 37px;
    }

    #modal-close {
        height: 75px;
        width: 75px;
        right: -120px;
    }
}

@media screen and (max-height: 900px) and (orientation: portrait) {
    #modal-container {
        height: 80%;
    }
}

@media screen and (max-width: 824px) {
    #main-container {
        height: 100%;
        width: 100%;
        border-left: 0;
        border-right: 0;
    }

    #header {
        height: 41vw;
    }

    #page-content {
        padding-top: 3vw;
        padding-bottom: calc(60px + 3vw);
    }

    #content-container {
        width: 85%;
        border-radius: 2.5vw;
        padding-top: 3vw;
        padding-bottom: 4vw;
    }

    .title {
        font-size: 3vw;
        margin-bottom: 1.5vw;
    }

    #fool-img {
        width: 69vw;
    }

    #about-text {
        font-size: 2.2vw;
    }

    #gallery {
        width: 76vw;
    }

    .thumbnail {
        height: 22.4vw;
        width: 17.5vw;
    }

    #kartoon-fool {
        font-size: 2.1vw;
        margin-right: 3px;
        padding-bottom: 0.31vw;
    }

    #web-dev {
        font-size: 2vw;
    }

    #contact-text {
        width: 90%;
        font-size: 2.3vw;
    }

    #contact-form {
        width: 80%;
    }

    #contact-form label {
        font-size: 2.35vw;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    #nav-bar {
        height: 52px;
        border-bottom: 3px solid #a86e3e;
    }

    #nav-menu {
        font-size: 22px;
        padding-left: 20px;
    }

    #home-btn,
    #about-btn,
    #gallery-btn,
    #contact-btn {
        width: 121px;
    }

    .material-icons {
        font-size: 27px;
    }

    #social-links {
        right: 20px;
        top: 8px;
    }

    #deviantart {
        height: 33px;
        width: 33px;
        margin-right: 4px;
    }

    #twitter {
        height: 33px;
        width: 33px;
        margin-left: 4px;
    }

    #modal-close {
        height: 55px;
        width: 55px;
        top: unset;
        position: fixed;
        top: 2vw;
        right: 2vw;
    }

    #footer {
        height: 60px;
        letter-spacing: 0.2px;
    }
}

@media screen and (max-width: 680px) {
    #modal-nav {
        width: 90%;
    }

    #modal-title {
        display: none;
    }

    #modal-close {
        height: 80%;
        top: unset;
        right: unset;
        position: unset;
    }

    #contact-text {
        font-size: 2.5vw;
        margin-top: 0;
    }

    #contact-form {
        width: 85%;
    }

    #contact-form label {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 615px) {
    #nav-bar {
        display: flex;
        justify-content: center;
    }

    #social-links {
        right: 2vw;
        top: -8.5vw;
    }

    #deviantart {
        height: 7vw;
        width: 7vw;
        margin-right: 0.7vw;
    }

    #twitter {
        height: 7vw;
        width: 7vw;
        margin-left: 0.7vw;
    }

    #nav-bar {
        height: 9vw;
        border-bottom: 3px solid #a86e3e;
    }

    #nav-menu {
        width: 100%;
        font-size: 4vw;
        padding-left: 0;
    }

    .material-icons {
        font-size: 5vw;
    }

    #home-btn,
    #about-btn,
    #gallery-btn,
    #contact-btn {
        width: 100%;
    }

    #home-btn {
        border-left: 0px;
    }

    #contact-btn {
        border-right: 0px;
    }

    #page-content {
        padding-top: 17px;
        padding-bottom: calc(14vw + 17px);
    }

    #content-container {
        padding-top: 4vw;
        padding-bottom: 6vw;
    }

    .title {
        font-size: 4vw;
        margin-bottom: 2.5vw;
    }

    #about-text {
        width: 82%;
        font-size: 2.8vw;
        margin-top: 10%;
        margin-bottom: 12%;
    }

    #about-header {
        margin-bottom: 3%;
    }

    #gallery {
        width: 74vw;
    }

    .thumbnail {
        border: 2px solid #bcb4a1;
        border-radius: 4px;
    }

    .thumbnail:hover {
        border: 2px solid #aa3b6d;
    }

    #thumb-one,
    #thumb-two,
    #thumb-three,
    #thumb-four,
    #thumb-five,
    #thumb-six,
    #thumb-seven,
    #thumb-eight {
        height: 46vw;
        width: 48%;
    }

    #thumb-one,
    #thumb-two,
    #thumb-five,
    #thumb-six {
        margin-bottom: 2.6vw;
    }

    .thumbnail-row {
        flex-wrap: wrap;
    }

    #responsive-break {
        flex-basis: 100%;
        height: 0;
    }

    .empty-thumb:hover {
        border: 2px solid #08c561;
    }

    #footer {
        height: 14vw;
    }

    #gallery-page {
        display: none;
    }

    #responsive-page {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1vw;

    }

    .current-page {
        color: #aa3b6d;
    }

    #page-number {
        height: 7.5vw;
        width: 7.5vw;
        pointer-events: none;
    }

    .page-btn {
        font-size: 4.5vw;
    }

    .arrow-btn {
        height: 6vw;
        width: 6vw;
    }

    #footer {
        flex-direction: column;
    }

    #kartoon-fool {
        font-size: 2.75vw;
        margin-right: 0;
        padding-bottom: 0;
    }

    #web-dev {
        font-size: 2.6vw;
        padding-bottom: 1vw;
    }

    #contact-text {
        font-size: 2.8vw;
        margin-top: 0;
    }

    #contact-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vw;
    }

    #contact-form label {
        font-size: 3.25vw;
    }

    #send-btn {
        height: 50px;
        width: 23.5vw;
        font-size: 22px;
    }
    
}

@media screen and (max-width: 450px) {
    #header {
        height: 45vw;
    }

    #nav-bar {
        height: 9.75vw;
    }

    #home-btn,
    #about-btn,
    #gallery-btn {
        border-right: 2px #eaa63a solid;
    }

    #social-links {
        top: -9.3vw;
    }

    #deviantart {
        height: 7.5vw;
        width: 7.5vw;
    }

    #twitter {
        height: 7.5vw;
        width: 7.5vw;
    }

    #content-container {
        border: 1px dashed #42434b;
    }

    .title {
        font-size: 4.5vw;
        margin-bottom: 2vw;
    }

    #about-text {
        font-size: 3.1vw;
        margin-top: 13%;
        margin-bottom: 14%;
    }

    #page-number {
        height: 9vw;
        width: 9vw;
    }

    .page-btn {
        font-size: 5.5vw;
    }

    .arrow-btn {
        height: 7.5vw;
        width: 7.5vw;
    }

    #copyright {
        padding-right: 1px;
    }

    #kartoon-fool {
        font-size: 2.9vw;
    }

    #web-dev {
        font-size: 2.9vw;
    }

    #modal-header {
        height: 10%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d1d4c1;
        border-radius: 5px;
        margin: auto;
    }

    #title-bg {
        height: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding-left: 3vw;
        padding-right: 3vw;
        border-radius: 3px;
    }

    #header-title {
        font-family: "Peralta-Regular";
        color:#aa3b6d;
        font-size: 5vw;
        transform: scale(1, 1.2);
        user-select: none;
    }

    #modal-img {
        height: 76%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #modal-nav {
        position: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }

    #modal-prev,
    #modal-next {
        width: 38px;
    }

    #modal-prev {
        margin-left: 4vw;
    }

    #modal-next {
        margin-right: 4vw;
    }

    #contact-text {
        font-size: 3.25vw;
        margin-top: 7px;
    }

    #contact-form {
        margin-top: 15px;
    }

    #contact-form label {
        font-size: 3.8vw;
    }

    #contact-form input {
        height: 37px;
        border: 1px solid #bcb4a1;
    }

    #contact-form textarea {
        height: 150px;
        border: 1px solid #bcb4a1;
    }

    #contact-form input:focus,
    #contact-form textarea:focus {
        border: 1px solid #aa3b6d;
    }

    #send-btn {
        height: 10vw;
        font-size: 5vw;
        border: 2px solid #eaa63a;
        border-radius: 7px;
    }
    
    #double-arrow {
        font-size: 5vw;
        padding-top: 1vw;
    }

    #send-btn:hover {
        border: 2px solid #08c561;
    }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
    #modal-container {
        width: 75%;
    }

    #modal-img {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #modal-nav {
        height: 9vw;
        width: 100vw;
        background-color: unset;
        border: 0;
        margin: unset;
        position: fixed;
        top: 41vh;
        right: unset;
        bottom: unset;
    }

    #modal-title {
        display: none;
    }

    #modal-prev {
        height: 9vw;
        width: 9vw;
        background-color: #d1d4c1;
        background-size: 7vw;
        border-radius: 5px;
        margin-left: 2.3vw;
    }

    #modal-next {
        height: 9vw;
        width: 9vw;
        background-color: #d1d4c1;
        background-size: 7vw;
        border-radius: 5px;
        margin-right: 2.3vw;
    }

    #modal-close {
        height: 5vw;
        width: 5vw;
        position: fixed;
        top: 10px;
        right: 10px;
    }
}


/* ------ IMAGE PRELOAD ------ */
#img-preload {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    background: url('../img/arrow-prev-hover.png'),
                url('../img/arrow-next-hover.png'),

                url('../img/close-modal.png'),
                url('../img/close-modal-hover.png'),
    
                url('../img/gallery/full/goat-full.jpg'),

                url('../img/gallery/full/diamond-full.jpg'),
                
                url('../img/gallery/full/corona-full.jpg'),

                url('../img/gallery/full/grinch-full.jpg'),

                url('../img/gallery/full/rabbit-full.jpg'),

                url('../img/gallery/full/walk-full.jpg'),

                url('../img/gallery/full/kaiju-full.jpg'),

                url('../img/gallery/full/silhouette-full.jpg'),

                url('../img/gallery/thumb/rick-thumb.jpg'),
                url('../img/gallery/full/rick-full.jpg'),

                url('../img/gallery/thumb/kodi-thumb.jpg'),
                url('../img/gallery/full/kodi-full.jpg'),

                url('../img/gallery/thumb/snail-thumb.jpg'),
                url('../img/gallery/full/snail-full.jpg'),

                url('../img/gallery/thumb/screwball-thumb.jpg'),
                url('../img/gallery/full/screwball-full.jpg'),

                url('../img/gallery/thumb/scientist-thumb.jpg'),
                url('../img/gallery/full/scientist-full.jpg'),

                url('../img/gallery/thumb/sheep-thumb.jpg'),
                url('../img/gallery/full/sheep-full.jpg'),

                url('../img/gallery/thumb/rooster-thumb.jpg'),
                url('../img/gallery/full/rooster-full.jpg'),

                url('../img/gallery/thumb/kooky-thumb.jpg'),
                url('../img/gallery/full/kooky-full.jpg'),

                url('../img/gallery/thumb/toot-thumb.jpg'),
                url('../img/gallery/full/toot-full.jpg'),

                url('../img/gallery/thumb/hanna-thumb.jpg'),
                url('../img/gallery/full/hanna-full.jpg'),

                url('../img/gallery/thumb/ed-thumb.jpg'),
                url('../img/gallery/full/ed-full.jpg'),

                url('../img/gallery/thumb/spidey-thumb.jpg'),
                url('../img/gallery/full/spidey-full.jpg'),

                url('../img/gallery/thumb/nutty-thumb.jpg'),
                url('../img/gallery/full/nutty-full.jpg'),

                url('../img/gallery/thumb/snowflake-thumb.jpg'),
                url('../img/gallery/full/snowflake-full.jpg'),

                url('../img/gallery/thumb/trick-thumb.jpg'),
                url('../img/gallery/full/trick-full.jpg'),

                url('../img/gallery/thumb/sheriff-thumb.jpg'),
                url('../img/gallery/full/sheriff-full.jpg'),

                url('../img/gallery/thumb/wolf-thumb.jpg'),
                url('../img/gallery/full/wolf-full.jpg'),

                url('../img/gallery/thumb/grylls-thumb.jpg'),
                url('../img/gallery/full/grylls-full.jpg'),

                url('../img/gallery/thumb/beaver-thumb.jpg'),
                url('../img/gallery/full/beaver-full.jpg'),

                url('../img/gallery/thumb/selfish-thumb.jpg'),
                url('../img/gallery/full/selfish-full.jpg'),

                url('../img/gallery/thumb/lazy-thumb.jpg'),
                url('../img/gallery/full/lazy-full.jpg'),

                url('../img/gallery/thumb/wacky-thumb.jpg'),
                url('../img/gallery/full/wacky-full.jpg'),

                url('../img/gallery/thumb/fred-thumb.jpg'),
                url('../img/gallery/full/fred-full.jpg'),

                url('../img/gallery/thumb/dila-thumb.jpg'),
                url('../img/gallery/full/dila-full.jpg'),

                url('../img/gallery/thumb/carrot-thumb.jpg'),
                url('../img/gallery/full/carrot-full.jpg'),

                url('../img/gallery/thumb/forest-thumb.jpg'),
                url('../img/gallery/full/forest-full.jpg'),

                url('../img/gallery/thumb/raccoon-thumb.jpg'),
                url('../img/gallery/full/raccoon-full.jpg'),

                url('../img/gallery/thumb/lion-thumb.jpg'),
                url('../img/gallery/full/lion-full.jpg'),

                url('../img/gallery/thumb/genius-thumb.jpg'),
                url('../img/gallery/full/genius-full.jpg'),

                url('../img/gallery/thumb/fox-thumb.jpg'),
                url('../img/gallery/full/fox-full.jpg'),

                url('../img/gallery/thumb/frog-thumb.jpg'),
                url('../img/gallery/full/frog-full.jpg'),

                url('../img/gallery/thumb/fishing-thumb.jpg'),
                url('../img/gallery/full/fishing-full.jpg'),

                url('../img/gallery/thumb/walrus-thumb.jpg'),
                url('../img/gallery/full/walrus-full.jpg'),

                url('../img/gallery/thumb/radioactive-thumb.jpg'),
                url('../img/gallery/full/radioactive-full.jpg'),

                url('../img/gallery/thumb/duck-thumb.jpg'),
                url('../img/gallery/full/duck-full.jpg'),

                url('../img/gallery/thumb/empty-thumb-hover.jpg');

    background-repeat: no-repeat;
}